[Desktop Entry]
Version=0.1
Terminal=false
Type=Application
Name=Haystation 1.6
GenericName=Playstation 2 Emulator
Comment=Sony Playstation 2 emulator
Exec=AppRun
Icon=PCSX2
Categories=Game;Emulator;
